{% extends 'base.html' %}

{% block content %}

<div class="about-container">
    <h2 class="about-title">About us</h2>
    <h3 class="about-subtitle">A local part of the community</h3>
    <p class="about-text">Nestled in the heart of the community, Finley's Farm Shop has been a cherished
        local
        gem since 1851.
        Steeped in tradition, our family-run shop is more than just a place to buy fresh, locally sourced
        produce—it's a gathering spot for friends, neighbours, and visitors alike. Over the generations,
        we’ve
        remained committed to supporting local farmers and artisans, ensuring that everything we offer
        reflects
        the very best of our countryside. </p>
    <img class="about-photo-old-farm" src="/media/uploads/other/old-farm.jpg" alt="old farm photo">
    <h2 class="about-title">Our mission</h2>
    <h3 class="about-subtitle">What we stand for</h3>
    <p class="about-text">
        At Finley’s Farm Shop, our mission is rooted in sustainability, organic farming, and ethical
        practices. We believe that nurturing the land with care and respect is essential for producing the
        highest quality goods while protecting the environment for future generations. From growing produce
        free from harmful chemicals to sourcing ethically farmed and cruelty-free products, we’re dedicated
        to making choices that align with our core values.
    </p>
    <img class="about-photo-lambs" src="/media/uploads/other/lambs.jpg" alt="lambs in the field">
    <h2 class="about-title">Core Values</h2>
    <h3 class="about-subtitle">Caring about our land</h3>
    <p class="about-text">
        At our farm, our team picks each vegetable at its peak, ensuring the freshest flavours and highest
        quality for our
        customers. From crisp lettuces to vibrant carrots, every item on our shelves reflects the dedication and
        hard work that goes into cultivating produce the way nature intended. It’s this commitment to freshness
        and sustainability that sets Finley’s apart.
    </p>
    <img class="about-photo-cabbages" src="/media/uploads/other/growing_cabbages.jpg" alt="growing cabbages">
</div>
{% endblock %}