{% extends 'base.html' %}
{% block content %}

<div class="contact-container">
    <h1 class="contact-title">Contact Us</h1>
    <div class="contact-hours-location contact-grid">
        <div class="opening-hours">
            <h2 class=" contact-subtitle">Opening Hours</h2>
            <div class="opening-hours-grid">
                <p class="day">Monday</p>
                <p class="time">9:00 AM - 5:00 PM</p>
                <p class="day">Tuesday</p>
                <p class="time">9:00 AM - 5:00 PM</p>
                <p class="day">Wednesday</p>
                <p class="time">9:00 AM - 5:00 PM</p>
                <p class="day">Thursday</p>
                <p class="time">9:00 AM - 5:00 PM</p>
                <p class="day">Friday</p>
                <p class="time">9:00 AM - 5:00 PM</p>
                <p class="day">Saturday</p>
                <p class="time">10:00 AM - 4:00 PM</p>
                <p class="day">Sunday</p>
                <p class="time">Closed</p>
            </div>
        </div>
        <div class="map-location">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d137939.2806497159!2d-5.0481316!3d57.3027213!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1737206769518!5m2!1sen!2suk"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    <div class="contact-find-us contact-grid">
        <div class="contact-find-us-img">
            <img class="contact-wild-flowers-img" src="/media/uploads/other/wild-flowers.jpg" alt="wild flowers photo">
        </div>
        <div class="contact-find-us-text">
            <h2 class="contact-title">How to find us</h2>
            <h3 class="contact-subtitle">Come and visit!</h3>
            <p class="contact-text">
                Finding Finley's Farm is part of the adventure. Look for the small wooden sign half-hidden by
                wildflowers, take the third left after the old stone bridge and follow the sheep!
            </p>
        </div>
    </div>
    <h2 class="contact-title">Get in touch</h2>
    <div class="contact-form">
        <form id="contactForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your Name" required>
                <span class="error-message" id="nameError"></span>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Your Email" required>
                <span class="error-message" id="emailError"></span>
            </div>
            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" id="phone" name="phone" placeholder="Your Phone Number" required>
                <span class="error-message" id="phoneError"></span>
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea id="message" name="message" placeholder="Your Message" rows="5" required></textarea>
                <span class="error-message" id="messageError"></span>
            </div>
            <button type="submit" class="submit-button">
                Send Message
            </button>
        </form>
    </div>
</div>

{% endblock %}